.header {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 64px;
  padding-bottom: 602px;
  position: relative;

}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__element {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  max-height: 511px;
  margin: 198px auto;
  row-gap: 32px;
}

.header__title {
  font-family: "Chronicle Display";
  font-size: 88px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.header__subtitle {
  display: flex;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 6px;
  color: #c6a567;
  align-items: center;
}

.header__subtitle::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #c6a567;
  margin-right: 10px;
}

.header__social {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  row-gap: 24px;
  align-items: center;
  padding-left: 80px;
}

.header__social-text {
  writing-mode: vertical-rl;
  font-weight: bold;
}

.header__social-icon {
  height: 16px;
  width: 16px;
}

.header__timeline {
  position: fixed;
  top: 65%;
  right: 80px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  z-index: 1000;
}

.header__timeline-title {
  font-weight: bold;
}

.header__timeline-line {
  position: absolute;
  left: 70px;      /* ajusta para que quede al lado derecho del texto */
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(255,255,255,0.7);
}

.header__timeline-step {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.header::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom, transparent, #0f2121 80%);
}

