.content {
  position: relative;
  margin: 0 auto;
  bottom: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 200px;
  padding: 0 127px;
}

.content__section {
  width: 100%;
  height: 720px;
  display: grid;
  place-items: start;
}

.content__section-header,
.content__section-step {
  grid-area: 1 / 1;
}

.content__section-header {
  display: flex;
  flex-direction: column;
  max-width: 652px;
  row-gap: 24px;
  justify-content: center;
  z-index: 1;
  margin-top: 120px;
  margin-left: 120px;
}

.content__section-step {
  font-size: 240px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  line-height: 240px;
  z-index: 0;
}
.content__section-step2 {
  justify-self: center;
  padding-left: 200px;
}

.content__section-subtitle {
  display: flex;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 6px;
  color: #fbd784;
  align-items: center;
  text-transform: uppercase;
}

.content__section-subtitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background: #fbd784;
  margin-right: 10px;
}

.content__section-title {
  font-family: "Chronicle Display";
  font-size: 64px;
  font-weight: lighter;
  max-width: 575px;
}

.content__section-text {
  font-size: 18px;
  font-weight: lighter;
  max-width: 575px;
  line-height: 32px;
}

.content__section-footer {
  font-size: 18px;
  color: #fbd784;
  cursor: pointer;
}
.content__section-image {
  width: auto;
  grid-area: 1 / 1;
  justify-self: end;
  align-self: center;
  z-index: 1;
}

.content__essentials {
  justify-items: flex-end;
}

.content__essentials .content__section-image {
  margin-left: 0;
  justify-self: start;
}

@media screen and (min-width: 1900px) {
  .content__section {
    padding: 0 150px;
  }

  .content__section-step2 {
    padding-left: 450px;
  }
}

@media screen and (max-width: 1366px) {
  .content {
    padding: 0 67px;
    row-gap: 0;
    bottom: 200px;
  }
  .content__section {
    height: 660px;
  }
  .content__section-step {
    font-size: 190px;
  }
  .content__section-step2 {
    padding-left: 82px;
  }
  .content__section-header {
    margin-top: 120px;
    margin-left: 11px;
  }
  .content__section-title {
    font-size: 57px;
  }
  .content__section-subtitle {
    font-size: 16px;
  }
  .content__section-text {
    font-size: 16px;
  }
  .content__section-footer {
    font-size: 16px;
  }
  .content__section-image {
    width: auto;
    height: 520px;
    align-self: start;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 30px;
    row-gap: 60px;
    bottom: 495px;
  }
  .content__section {
    height: 1146px;
  }
  .content__section-header {
    margin-bottom: 584px;
    margin-left: 11px;
  }
  .content__section-image {
    height: 520px;
    align-self: end;
    justify-self: center;
  }
  .content__section-step {
    font-size: 190px;
  }
  .content__section-step2 {
    padding-left: 0;
    justify-self: left;
  }
  .content__essentials .content__section-image {
    justify-self: center;
  }
  .content__section-image {
    align-self: end;
  }
}
