.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px 0;
  font-size: 17px;
}

.logo {
  width: 108px;
  height: 24px;
}

.nav__links {
  display: flex;
  column-gap: 40px;
  padding: 0;
  list-style-type: none;
}

  .nav__link {
    font-style: normal;
    font-weight:bold;
    line-height: 20px;
    text-decoration: none;
    color: white;
  }

.nav__account {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: bold;
}
